*.o
*.lo
.deps
.libs
stamp-h1
*.la
*~
autom4te.cache
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
auto-config.h
auto-config.h.in
depcomp
dmbcs-micro-server.html
dmbcs-micro-server.pc
install-sh
libtool
ltmain.sh
m4
makefile
makefile.in
missing
micro-server.pc
micro-server.info
texinfo.tex
mdate-sh
stamp-vti
version.texi
compile
